# Files to ignore

*.class
bBUFFERS
bCONTROL
bBACKUP
*.tmp
javadep
fixcreate
UNKNOWN
filesystem.attributes
bin.*
ir.out
xxx*
hs_err_pid*
update.out
*.xjs
.snapshot
.snapshots
*.o
*.so
core*
*.out
*.old
*.model
public
\#*
eclipsepath
*.lcl
*.orig
tags
*~
.*~
*.pdf
*.ps
.svn
.cvs
CVS
globaljavadeps
*.save
*.war
.test*
*.java.new
.#*
*.log


*.spec
testmodel.*
project
ivy.lnk
javasrc/bin
lib/ivy*.jar
lib/lib
lib/mint.*
lib/registry
*.spec*
TODO
FILETOFIX
CVS/
.classpath
.gpfs_quota_usage
.project
.DUMMY
globaljavadeps
*.war
derby.log
.#*
xx


















































